In [7]:
from dotenv import load_dotenv
import os
from pyairtable import Api
import pandas as pd

In [8]:
load_dotenv()
KEY = os.getenv('KEY')
APP = os.getenv('APP')
TBL = os.getenv('TBL')
api = Api(KEY)

In [25]:

table = api.table(APP, TBL).all()

In [26]:
# df = [field.get("fields") for field in table]
df = pd.DataFrame(table)
df

,id,createdTime,fields
0,rec05xm1fwvoGlEeU,2025-09-18T20:20:33.000Z,"{'Animal ID': '1905', 'Tissue type': 'RPLN', '..."
1,rec08Y7rWdMLwCWXN,2025-09-18T20:20:33.000Z,"{'Animal ID': 'B-167', 'Tissue type': 'RPLN', ..."
2,rec0aRUnK2pBWmF7J,2025-09-18T20:20:33.000Z,"{'Animal ID': '1905', 'Tissue type': 'OBEX', '..."
3,rec0cHAbGxFmYuOMB,2025-09-18T20:20:33.000Z,"{'Animal ID': 'B-166', 'Tissue type': 'RAMALT'..."
4,rec0vsbHlqfT6nUQv,2025-09-18T20:20:33.000Z,"{'Animal ID': 'B-121', 'Tissue type': 'RAMALT'..."
...,...,...,...
827,reczgqXpiK56ebhAC,2025-09-18T20:20:33.000Z,"{'Animal ID': '1901', 'Tissue type': 'RPLN', '..."
828,recziy5LY9SpsBNig,2025-09-18T20:20:33.000Z,"{'Animal ID': '1943', 'Tissue type': 'RPLN', '..."
829,reczlEP38IXOtUKgu,2025-09-18T20:20:33.000Z,"{'Animal ID': 'B-166', 'Tissue type': 'OBEX', ..."
830,reczuhqexbXYINH0y,2025-09-18T20:20:33.000Z,"{'Animal ID': '1944', 'Tissue type': 'RPLN', '..."
831,reczzEWMoFdsSNk4V,2025-09-18T20:20:33.000Z,"{'Animal ID': '1944', 'Tissue type': 'OBEX', '..."